<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Stock1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stock1.Properties.Settings.Setting" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Anshuman\Documents\Database ANjani\Anjani.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
      
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Stock1.Properties.Settings>
            <setting name="PacketWeight" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="LASTUPDATEDATE" serializeAs="String">
                <value>14/6/2018</value>
            </setting>
            <setting name="Database1ConnectionString1" serializeAs="String">
                <value />
            </setting>
        </Stock1.Properties.Settings>
    </userSettings>
</configuration>
